<%#fileName: inCompletedTasks.ejs#%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unfinished Tasks</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Incompleted Tasks</h1>
        <ul>
            <% inCompletedTasks.forEach(task => { %>
                <li>
                    <%= task.name %> - <%= task.description %>
                    <form action="/toggle-task/<%= task.id %>" method="post" style="display:inline;">
                    <button type="submit">Complete</button>
                    </form>

                    <form action="/delete-task/<%= task.id %>" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                    </form>                
                </li>
            <% }); %>
        </ul>
        <a href="/">Return to home</a>
    </div>
</body>
</html>